<div class="receive-communication">
  <div class="receive-communication__content">
    <div class="receive-communication__head">
      <div class="receive-communication__head-info">
        <h1 class="receive-communication__title">Ready to play and win?</h1>
        <p class="receive-communication__sub-title">
          Congratulations! You have successfully created your <span class="receive-communication__span">Mahzooz account</span>.
        </p>
        <p class="receive-communication__sub-title">
          So, what are you waiting for?
          Play now to enter our weekly draws
          for your chance to be the lucky winner
          of the Grand Prize.
        </p>
        <button class="receive-communication__button">Buy Credit</button>
      </div>
      <img  class="receive-communication__head-img" src="../../../assets/images/ok.jpg" alt="Hi, its OK!">
    </div>

    <div class="receive-communication__footer footer">
      <div class="footer__icons">
        <a><img class="footer__icon" src="../../../assets/icons/facebook.svg" alt=""></a>
        <a><img class="footer__icon" src="../../../assets/icons/instagram.svg" alt=""></a>
        <a><img class="footer__icon" src="../../../assets/icons/twitter.svg" alt=""></a>
        <a><img class="footer__icon" src="../../../assets/icons/youtube.svg" alt=""></a>
      </div>
      <div class="footer__info">
        <p class="footer__text">For clarification,</p>
        <p class="footer__text">Call 800 5825 from within the UAE</p>
        <p class="footer__text">or +971 4 571 3410 from outside the UAE</p>
        <p class="footer__text">customer.support@mahzooz.ae</p>
      </div>
    </div>


  </div>
</div>

