<div class="main-container">
  <div class="switcher" [ngSwitch]="currentPage">
<!--    <app-insert-cash-amount *ngSwitchCase="'choose-language'"></app-insert-cash-amount>-->

    <app-choose-languages *ngSwitchCase="'choose-language'"></app-choose-languages>
    <app-customer-type *ngSwitchCase="'customer-type'"></app-customer-type>
    <app-customer-mobile-number *ngSwitchCase="'customer-mobile-number'"></app-customer-mobile-number>
    <app-choose-code-country *ngSwitchCase="'choose-country-code'"></app-choose-code-country>
    <app-confirm-mobile-number *ngSwitchCase="'confirm-mobile-number'"></app-confirm-mobile-number>
    <app-registration *ngSwitchCase="'registration'"></app-registration>
    <app-validate-customer-mobile-number *ngSwitchCase="'validate-customer-mobile-number'"></app-validate-customer-mobile-number>
    <app-terms-and-conditions *ngSwitchCase="'terms-and-conditions'"></app-terms-and-conditions>
    <app-terms-and-conditions *ngSwitchCase="'rules'"></app-terms-and-conditions>
    <app-terms-and-conditions *ngSwitchCase="'policy'"></app-terms-and-conditions>
    <app-complete-registration *ngSwitchCase="'complete-registration'"></app-complete-registration>
<!--    <app-receive-communication-on-successful-registration *ngSwitchCase="'receive-communication'"></app-receive-communication-on-successful-registration>-->
    <app-customer-mobile-number *ngSwitchCase="'exist-customer-mobile-number'"></app-customer-mobile-number>
    <app-view-customer-balance *ngSwitchCase="'view-customer-balance'"></app-view-customer-balance>
    <app-invalid-otp *ngSwitchCase="'invalid-otp'"></app-invalid-otp>
    <app-maximum-tries-exceeded *ngSwitchCase="'maximum-tries-exceeded'"></app-maximum-tries-exceeded>
    <app-confirm-cash-payment-rules *ngSwitchCase="'payment-cash-rules'"></app-confirm-cash-payment-rules>
    <app-insert-cash-amount *ngSwitchCase="'insert-cash-amount'"></app-insert-cash-amount>
    <app-successful-payment *ngSwitchCase="'successful-payment'"></app-successful-payment>
    <app-buy-water-bottle *ngSwitchCase="'buy-water'"></app-buy-water-bottle>
    <app-select-lucky-numbers *ngSwitchCase="'select-lucky-numbers'"></app-select-lucky-numbers>
    <app-are-you-here *ngSwitchCase="'are-you-here'"></app-are-you-here>
    <app-transaction-complete *ngSwitchCase="'transaction-complete'"></app-transaction-complete>
    <app-error-page *ngSwitchCase="'error'"></app-error-page>
    <div *ngSwitchDefault>404</div>
  </div>
</div>

<app-are-you-here-modal *ngIf="!customerData.uiData.isAreYouHereModalHidden"></app-are-you-here-modal>
<app-do-you-want-exit-modal *ngIf="!customerData.uiData.isDoYouWantToExitModalHidden"></app-do-you-want-exit-modal>
<app-do-you-want-logout-modal *ngIf="!customerData.uiData.isDoYouWantToLogoutModalHidden"></app-do-you-want-logout-modal>
<app-change-draw-date-modal *ngIf="!customerData.uiData.isChangeDrawDateModalHidden"></app-change-draw-date-modal>
<app-my-game-modal *ngIf="!customerData.uiData.isMyGameModalHidden"></app-my-game-modal>
