@import '../../../variables.scss';

.validate-mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../../../assets/images/CustomerType.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;


  &__content {
    width: 60%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 30px;
    flex-grow: 1;
    margin-top: 2%;
  }

  &__sub-title {
    color: $color-main-blue;
    width: 60%;
    font-size: 32px;
    text-align: center;
  }

  &__number {
    margin-top: 10px;
    color: #e0543b;
    font-size: 36px;
    font-weight: 800;
  }

  &__phone {
    position: relative;
    margin-top: 5px;
  }

  &__navigate-block {
    width: 100%;
  }

  &__reverse-counter {
    top: 0;
    left: -150px;
    width: 100px;
    height: 100px;
    position: absolute;
  }
}
