$color-btn-select: #fffcf9;
$color-main-blue: #1677bc;
$color-btn-navigate-background: #f8e019;
$color-btn-navigate-text: #301b01;
$color-btn-action-background: #0ba8e3;
$color-background-footer: #535559;
$color-background-white: #f8f6f6;
